extends ../layout
block content
	.container
		.row
			.col-md-5
				form(method="POST",action="/user/signup")
					.modal-body
						.form-group
							label(for="signupName")
							input#signupName.form-control(name="user[name]",type="text")
						.form-group
							label(for="signupPassword")
							input#signupName.form-control(name="user[password]",type="text")
					.modal-footer
						button.btn.btn-default(type="button") 关闭
						button.btn.btn-success(type="submit") 提交